@import 'tailwindcss';
@import './lib/atom-one-dark.css';
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1f2937; /* Dark background */
    color: #ffffff; /* White text */
}

h1, h2, h3 {
    margin: 1rem 0 1rem 0;
    font-weight: 700;
}

h4, h5, h6 {
    margin: 0.5rem 0;
    font-weight: 600;
}

ul, ol {
    margin: 0 0 1rem 1.5rem; /* Add left margin for indentation */
}

ul, ol, menu {
    list-style: unset;
}

a {
    color: #3b82f6; /* Blue links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.animate-spin {
    animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}